# Compiled binaries
my-dream-proxy-client
my-dream-proxy-client.exe
mdpc
mdpc.exe

# Everything in bin/xray/ except the placeholder
bin/xray/*
!bin/xray/put_xray_bin_config_here

# Everything in bin/hy2/ except the placeholder
bin/hy2/*
!bin/hy2/put_hy2_bin_config_here

# Everything in bin/sing-box/ except the placeholder
bin/sing-box/*
!bin/sing-box/put_sing-box_bin_config_here

# User-specific config
*.yaml

# Backup files
*.bak
bin/core/

# md
*.md
