# Compiled binaries
my-dream-proxy-client
my-dream-proxy-client.exe
mdpc
mdpc.exe

# Everything in bin/xray/ except the placeholder
bin/xray/*
!bin/xray/put_xray_bin_config_here

# User-specific config
*.yaml

# Backup files
*.bak
